<div class="relative overflow-hidden ">
  <div class="relative overflow-hidden group">
  <img
    src="https://image.tmdb.org/t/p/original{{ imageSource }}"
    alt="movie"
    class="rounded-t-lg"
  />
  
    <p
      class="bg-rose-500 text-black absolute max-h-full translate-y-[101%] overflow-y-auto transition-transform duration-[0.3s] ease-[ease-in] p-4 bottom-0 inset-x-0 rounded-t-lg group-hover:translate-y-0"
    >
      <strong>{{ title }}:</strong> <br />{{ description }}
    </p>
  </div>
  <div>
    <button class="" (click)="viewMovie.emit(movieId)">{{ title }}</button>
  </div>
</div>
